body
    background-color: #141218
    font-family: 'Roboto'
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    background-image: url("../img/background.jpg")
    background-repeat: no-repeat
    background-position: top right


.header
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 60px
    margin-bottom: 90px
    &-list
        margin-right: auto
        margin-left: 68px
        &-link
            text-decoration: none
            font-size: 14px
            color: #FFFFFF
            margin-right: 24px
    &-social-link
        margin-left: 20px
        text-decoration: none
.test
    text-align: center
    padding: 0

.main
    &-bg
        background-color: rgba(20, 18, 24, 0.7)
        min-height: 100px
        border-radius: 5px
    &-all
        background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 10%, #2D2D2D 100%), lighten(#141218,3)
        display: inline-block
        padding: 20px 30px
        text-decoration: none
        color: white
        font-size: 18px
        margin-top: 30px
        border-radius: 7px
        &-series
            display: flex
            flex-wrap: wrap
            align-text: left
    &-series
        margin-bottom: 30px
        &-card
            border-radius: 8px
            display: flex
            flex-direction: column
            justify-content: flex-end
            padding: 13px
            color: white
            margin: auto
            margin-top: 20px
            text-decoration: none
            &-sm
                width: 192px
                height: 108px
                border-radius: 8px
                display: flex
                flex-direction: column
                justify-content: flex-end
                padding: 13px
                color: white
                margin: auto
                margin-top: 20px
                text-decoration: none
            &-subtitle
                font-size: 10px
                line-height: 12px
                margin-bottom: 2px
            &-title
                font-weight: bold
                font-size: 14px
                line-height: 16px
        @for $i from 1 through 8
            &-#{$i}
                background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series_#{$i}.jpg")
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
    &-button
        background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 10%, #2D2D2D 100%), lighten(#141218,3)
        color: white
        display: inline-block
        padding: 20px 0px
        text-decoration: none
        font-size: 14px
        width: 32%
        border-radius: 7px
    &-title
        text-align: left
        margin-left: 20px
        color: #C0C0C0
    &-subtitle
        text-align: left
        margin-left: 20px
        color: #C0C0C0
        font-size: 22px
    &-description
        p
            text-align: left
            margin-left: 20px
            color: #C0C0C0
            font-size: 12px
            padding-right: 50px
            position: relative
        h2
            text-align: left
            margin-left: 14px
            color: white
            font-size: 24px
    &-rating
        display: flex
        align-items: center
        &-star
            margin-right: 4px
        &-block
            background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 10%, #2D2D2D 100%), lighten(#141218,3)
            border-radius: 10px
            color: white
            padding: 10px 10px
            font-size: 20px
            margin-left: 20px
            margin-right: 10px
            margin-top: 7px
            margin-bottom: 7px
            

iframe
    margin-top: 20px
    margin-bottom: 10px
    width: 270px
    height: 15  0px

hr
    max-width: 95%
    height: 1px
    background-color: #707070
    border: none
.date
    position: absolute
    bottom: -25px
.footer
    background-color: #141218
    padding: 20px 0px
    margin-top: auto
    font-size: 10px
    &-content
        display: flex
        align-items: center
        justify-content: space-between
    &-link
        text-decoration: none
        color: #3a383d
        margin-left: 20px   
    &-copyright
        color: #3a383d
.hidden
    display: none
@media (min-width: 576px) 
    iframe
        width: 360px
        height: 200px
    .main-button
        font-size: 13px 
    .main-series-card
        width: 192px
        height: 108px
    .main
        &-all
        width: 192px
        &-description
            p
                font-size: 19px
            h2
                margin-left: 20px
    .hidden
        display: block
  


@media (min-width: 768px) 
    iframe
        width: 480px
        height: 270px
    .main-button
        font-size: 15px
    .main-series-card
        width: 240px
        height: 135px
    .main-all
        width: 240px
    .test
        max-width: 490px
  


@media (min-width: 992px) 
    iframe
        width: 640px
        height: 360px
    .main-series-card
        width: 256px
        height: 144px
    .main-all
        width: 256px
    .test
        max-width: 660px
  


@media (min-width: 1200px) 
    iframe
        width: 737.5px
        height: 413px
    .main-series-card
        width: 288px
        height: 162px
    .main-all
        width: 288px
    .test
        max-width: 770px
  
@media screen and (max-width: 576px)
    main
        margin-top: 60px
    .menu-btn
        display: block
        position: absolute
        right: 35px
        top: 40px
        width: 30px
        height: 2px
        background-color: #fff
        border: none
        z-index: 11
    .menu-btn:before
        content: ""
        display: block
        position: absolute
        top: 0
        right: 0
        width: 30px
        height: 2px
        background-color: #fff
        transition: transform 0.2s
        margin-top: -7px
    .menu-btn:after
        content: ""
        display: block
        position: absolute
        top: 0
        right: 0
        width: 30px
        height: 2px
        background-color: #fff
        transition: transform 0.2s
        margin-top: 7px
    .menu-btn-active
        height: 0
        &::before
            transform: rotate(45deg)
            margin-top: 0
        &::after
            transform: rotate(-45deg)
            margin-top: 0
    .header
        z-index: 10 
        display: none
        flex-direction: column
        width: 250px
        position: absolute
        right: 0
        top: 0
        background-color: #9d2929
        margin-bottom: 40px
        &-active
            display: flex
        &-list
            margin: auto
            order: 2
            display: flex
            flex-direction: column
            align-items: center
            &-link
                margin-right: 0
                margin-bottom: 17px
        &-social
            order: 1
            margin-top: 25px
            margin-bottom: 22px
            &-link:first-child
                margin-left: 0
@media screen and (max-width: 760px)
    .footer
        &-content
            flex-direction: column
            align-items: flex-start
        &-copyright
            display: block
            margin-bottom: 8px
        &-link:first-child
            margin-left: 0px